{{ define "nav-header" }}
    <div class="nav-scroller bg-body shadow-sm">
        <nav class="nav nav-underline" aria-label="Secondary navigation">
            <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/bexruz-fatxullayev-5611a0369/">Linkedin</a>
            <a class="nav-link" target="_blank" href="https://github.com/alexlatam/">GitHub</a>
            <a class="nav-link" target="_blank" href="bkhxrz@gmail.com">Email</a>
        </nav>
    </div>
{{end}}